.black{
  background-color: black;
}

.brown{
  background-color: sandybrown;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.violet{
  background-color: purple;
}

.grey{
  background-color: grey;
}

.white{
  background-color: white;
}

.gold{
  background-color: gold;
}

.silver{
  background-color: silver;
}

.aliceblue{
  background-color: aliceblue;
}